services:
  kaspadev-api:
    build: .
    deploy:
      replicas: 3
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://dragonfly:6379

  envoy:
    image: envoyproxy/envoy:v1.30.1
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml
    ports:
      - "8080:10000"
      - "9901:9901"
    depends_on:
      - kaspadev-api

  dragonfly:
    image: "docker.dragonflydb.io/dragonflydb/dragonfly"
    command: dragonfly --maxmemory 1gb --cache_mode=true --proactor_threads=4
    ulimits:
      memlock: -1
    ports:
      - "6380:6379"
    volumes:
      - dragonfly_data:/data

  sonarqube:
    image: sonarqube:community
    profiles: ["development"]
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data

volumes:
  dragonfly_data:
  sonarqube_data:
